.links{

    float: right;

}
.links a{
    text-decoration: none;
    word-spacing: 1rem;
}
header{
    font-size: 2rem;
    padding: 0.5em;
    font-family: 'PT Sans', sans-serif;
}

section{

    font-family: 'PT Sans', sans-serif;
}
.quote{
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;

}